* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Asul', sans-serif;
    background-color: white;
  }
  
  .web {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
  }
  
  .header {
    height: 160px;
    background-color: #252037;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 74px;
  }
  
  .menu ul {
    display: flex;
    gap: 32px;
    list-style: none;
  }
  
  .menu a {
    color: white;
    font-size: 14px;
    text-decoration: none;
  }
  
  .logo img {
    width: 2000px;
    height: 2000px;
    border-radius: 34px;
  }
  
  .hero {
    height: 300px; /* Ajusta la altura según tus necesidades */
    width: 100%; /* Ajusta el ancho según tus necesidades */
    max-width: 1200px; /* Establece un ancho máximo si es necesario */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: cover;
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    position: relative; /* Necesario para que los elementos hijos con position absolute se posicionen correctamente */
    box-sizing: border-box; /* Incluye el padding y el borde en el tamaño total del contenedor */
}
  
  .hero-title {
    font-size: 48px;
    color: white;
    text-align: center;
  }
  .highlight {
    font-size: 96px;
    color: #FAFF00;
  }
  
  .btn-container {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
  }
  
  .btn-block {
    background-color: #FFDA16;
    color: black;
    font-size: 16px;
    font-weight: 700;
    padding: 15px;
    border-radius: 14px;
    text-align: center;
    cursor: pointer;
  }