* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Asul', sans-serif;
  background-color: white;
  line-height: 1.6;
}

.web {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  background-color: #252037;
  padding: 20px 74px;
}

.frame46 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu ul {
  display: flex;
  gap: 32px;
  list-style: none;
}

.menu a {
  color: white;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
}

.menu a:hover {
  color: #f7ff06;
}

.logo img {
  width: 120px;
  height: auto;
  border-radius: 20px;
}

.hero {
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('public/images/imagenback.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.hero-title {
  font-size: 48px;
  color: white;
  text-align: center;
}

.highlight {
  font-size: 96px;
  color: #FAFF00;
}

.btn-container {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.btn-block {
  background-color: #FFDA16;
  color: black;
  font-size: 16px;
  font-weight: 700;
  padding: 15px 25px;
  border-radius: 14px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-block:hover {
  background-color: #e6c415;
}

/* Sección "¿Cómo funciona?" */
.section-info {
  background: linear-gradient(to bottom, #ECD4FF, #CB85FF);
  padding: 50px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-text {
  width: 50%;
}

.section-title {
  font-size: 36px;
  margin-bottom: 20px;
  color: #252037;
}

.info-text p {
  font-size: 18px;
  color: #333;
}

.info-image {
  width: 40%;
}

.info-img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

/* Sección de planes */
.section-plans {
  display: flex;
  justify-content: space-around;
  background-color: #ECD4FF;
  padding: 50px;
}

.plan {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('public/images/ejercicios_para_rejuvenecer_la_edad_metabolica.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  padding: 40px;
  border-radius: 14px;
  width: 300px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.plan2 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('public/images/hombre\ musculoso.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  padding: 40px;
  border-radius: 14px;
  width: 300px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.plan-title {
  font-size: 28px;
  margin-bottom: 15px;
  color: #FAFF00;
}

.plan-price {
  font-size: 36px;
  color: #F7FF06;
  margin-bottom: 15px;
}

.plan-details {
  font-size: 16px;
  margin-bottom: 20px;
}

.footer {
  background-color: #252037;
  padding: 30px 0;
  text-align: center;
}

.footer .btn-container2 {
  margin: 0 auto;
}
