* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Asul', sans-serif;
  background-color: white;
  line-height: 1.6;
}

.web {
  max-width: 1920px; /* Ancho máximo de la página */
  width: 100%; 
  margin: 0 auto; /* Centrar el contenido */
}

header {
  height: 80px;
  background-color: #252037;
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 100px;
}

.logo img {
  width: 100%;
  height: auto;
}

header .logo {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  z-index: 1001;
  height: 80px;
}

.menu ul {
  display: flex;
  gap: 32px;
  list-style: none;
}

.menu a {
  color: white;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.menu a:hover {
  color: #f7ff06;
  cursor: pointer;
}

.hero {
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('public/images/backiailustrator.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.hero-title {
  font-size: 70px;
  color: white;
  text-align: center;
}

.highlight {
  font-size: 96px;
  color: #FAFF00;
}

.btn-container {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.btn-block {
  background-color: #FFDA16;
  color: black;
  font-size: 16px;
  font-weight: 700;
  padding: 15px 25px;
  margin-top: 10%;
  border-radius: 14px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-block:hover {
  background-color: #e6c415;
}

/* Sección "¿Cómo funciona?" */
.section-info {
  background: linear-gradient(to bottom, #ECD4FF, #CB85FF);
  padding: 5% 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal {
  display: none;  /* La ventana modal está oculta inicialmente */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #14151B;
  padding: 0;
  border-radius: 10px;
  width: 60%;
  max-width: 100%;
  position: fixed;
}
.close-btn {
  display: none;
  font-size: 30px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
.close-btn:hover {
  color: #ccc;
}
body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}
.left-section {
    flex: 1;
    background-image: url('fitness-image.jpg'); /* Reemplaza con la URL de tu imagen */
    background-size: cover;
    background-position: center;
}
.form-container {
    background-color: #2D2231;
    padding: 40px;
    border-radius: 20px;
    width: 90%;
    max-width: 400px;
    text-align: center;
}
.form-container img {
    width: 100px;
    margin-bottom: 20px;
}
.form-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.form-container button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
}
.register-btn {
    background-color: #00b150;
}
.login-btn {
    background-color: #ffcc00;
}
.form-container label {
    color: white;
    margin-bottom: 5px;
    display: block;
    text-align: left;
    font-size: 14px;
}

.info-text {
  width: 50%;
}

.section-title {
  font-size: 50px;
  margin-bottom: 20px;
  color: #252037;
}

.info-text p {
  font-size: 20px;
  color: #333;
}

.info-image {
  width: 40%;
}

.info-img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

/* Sección de planes */
.section-plans {
  display: flex;
  justify-content: space-around;
  background-color: #ECD4FF;
  padding: 50px;
}

.plan {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('public/images/plan1.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  padding: 40px;
  border-radius: 14px;
  width: 300px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.plan2 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('public/images/plan2.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  padding: 40px;
  border-radius: 14px;
  width: 300px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.plan-title {
  font-size: 28px;
  margin-bottom: 15px;
  color: #FAFF00;
}

.plan-price {
  font-size: 36px;
  color: #F7FF06;
  margin-bottom: 15px;
}

.plan-details {
  font-size: 16px;
  margin-bottom: 20px;
}

.footer {
  background-color: #252037;
  padding: 40px 0;
  color: white;
  text-align: center;
  font-size: 16px;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.footer h3 {
  font-size: 20px;
  margin-bottom: 15px;
  color: #FAFF00;
}

.footer p {
  margin-bottom: 10px;
}

.contact-section, .hours-section, .download-section {
  flex: 1;
  min-width: 250px;
}

.download-section img {
  width: 150px;
  margin: 10px;
}

.btn-container2 {
  margin-top: 20px;
}

/* Media Query para pantallas móviles */
@media (max-width: 768px) {
  /* Ajustar el título del hero */
  .hero-title {
    font-size: 40px;
  }

  .highlight {
    font-size: 60px;
  }

  .section-info {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .container {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .info-text {
    width: 100%;
    order: 1;
  }

  .info-image {
    width: 80%;
    order: 2;
    margin-top: 20px;
  }

  .info-img {
    width: 100%;
  }

  /* Alinear los planes uno debajo del otro en móviles */
  .section-plans {
    flex-direction: column;
    align-items: center;
  }

  .plan, .plan2 {
    width: 90%;
    margin-bottom: 20px;
  }

  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .contact-section, .hours-section, .download-section {
    min-width: 100%;
  }

  .btn-block {
    padding: 10px 20px;
    font-size: 14px;
  }

  /* Modal de compra */
  #purchaseModal .form-container {
    background-color: #2D2231;
    padding: 40px;
    border-radius: 20px;
    width: 90%;
    max-width: 400px;
    text-align: center;
  }

  #purchaseModal .form-container h2 {
    color: white;
    margin-bottom: 20px;
  }

  #purchaseModal .form-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  #purchaseModal .form-container button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #00b150;
  }

  #purchaseModal .form-container label {
    color: white;
    margin-bottom: 5px;
    display: block;
    text-align: left;
    font-size: 14px;
  }
}
/* Modal de error de validación */
#validationErrorModal .form-container {
  background-color: #2D2231;
  padding: 40px;
  border-radius: 20px;
  width: 90%;
  max-width: 400px;
  text-align: center;
}

#validationErrorModal .form-container h2,
#validationErrorModal .form-container p {
  color: white;
  margin-bottom: 20px;
}

#validationErrorModal .form-container button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
  background-color: #00b150;
}