* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}
.container {
    display: flex;
    width: 100vw;
    height: 100vh;
}
.left-section {
    flex: 1;
    background-image: url('fitness-image.jpg'); /* Reemplaza con la URL de tu imagen */
    background-size: cover;
    background-position: center;
}
.right-section {
    flex: 1;
    background-color: #C2A2D0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-container {
    background-color: #2D2231;
    padding: 40px;
    border-radius: 20px;
    width: 90%;
    max-width: 400px;
    text-align: center;
}
.form-container img {
    width: 100px;
    margin-bottom: 20px;
}
.form-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.form-container button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
}
.register-btn {
    background-color: #00b150;
}
.login-btn {
    background-color: #ffcc00;
}
.home-btn { /* Nuevo estilo para el botón "Volver al inicio" */
    background-color: #007BFF;
    color: white;
}
.form-container label {
    color: white;
    margin-bottom: 5px;
    display: block;
    text-align: left;
    font-size: 14px;
}
