.component {
  height: 443px;
  position: relative;
  width: 1083px;
}

.component .text-wrapper {
  color: #000000;
  font-family: "Asul-Regular", Helvetica;
  font-size: 34px;
  font-weight: 400;
  height: 443px;
  left: 0;
  letter-spacing: 0;
  line-height: 36px;
  position: absolute;
  top: -1px;
  width: 376px;
}

.component .actionsquare-instance {
  left: 396px !important;
  position: absolute !important;
  top: 209px !important;
}

.component .image {
  height: 419px;
  left: 687px;
  object-fit: cover;
  position: absolute;
  top: 12px;
  width: 361px;
}
